.Header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #605e5e;
}
.Header a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.Header a:hover {
    text-decoration: underline;
}
.Logo a {
    font-size: 40px;
    color: yellow;
}
.genres a {
    font-size: 27px;
    text-decoration: none;
    color: yellow;
}
.light {
    background-color: #d0bfbf;
    color: #000000;
}
.dark {
    background-color: #868383;
    color: #ffffff;
}
.Button{

}